.paginate-select .Select-menu-outer {
  top: auto;
  bottom: 100%;
  width: 75px;
}

.paginate-wrapper {
  display: flex;
  align-items: center;
}

/*React-select dropdown anti-cover*/
.pagination > .active > a {
  z-index: 1 !important;
}